# Lab One
---

Ok for this lab we're going to reiterate a lot of the things that we went over in class.

Our Goals are:
- Defining variables
- Using math
- Manipulating variables
- Changing data types
- Playing with lists

In [ ]:
# Define 4 variables, one of each type listed: [Integer, String, Boolean, Float]. Print all 4.

#int
height=64
#string 
how_tall="How many inches is Kacey?"
#boolean
this_tall=False
#float
real_height=64.5

print(how_tall)
print(height)

if height:
    print(this_tall)
    print(how_tall)
    print(real_height)
else: 
    print("okay")

In [ ]:
# With whatever variables you'd like demonstrate the following: [Addition, Subtraction, Division, Multiplication, Modulo]. Print all 5.

birds = 7 
worms = 15 

print(birds + worms)
print(birds - worms)
print(birds / worms)
print(birds * worms)
print(birds % worms)

In [ ]:
# Using 2 variables and addition print the number 57

food = 39 
drinks=18

print(food+drinks)

In [ ]:
# Change this variable to a string and print
number_into_string = 37
number_into_stringg = str(number_into_string)

print(number_into_stringg)
print(type(number_into_stringg))


# Change this variable to a integer and print
string_into_number = '10'
string_into_numberr = int(string_into_number)

print(string_into_numberr)
print(type(string_into_numberr))


# Change this variable to a float and print
string_into_float = '299.99'
string_into_floatt = float(string_into_float)
print(string_into_floatt)
print(type(string_into_floatt))


# Change this variable to a boolean and print
number_into_boolean = 37
number_into_boolean = True 

print(number_into_boolean)
print(type(number_into_boolean))


#CHECK ALL OF THESE & DO THE LAST ONE

In [ ]:
# Make me a list of any type

names = ["Rick ", "Doug", "Jeff", "Ryan"]
print(names)